In [23]:
import numpy as np


import pandas as pd

In [14]:
R = 0.082

p_0_SO2 = 2.0
V_0_SO2 = 10.0
T_0_SO2 = 288


p_0_NO = 1.0
V_0_NO = 15.0
T_0_NO = 300.0

c_V_SO2 = 3*R
c_V_NO = (5.0/2.0)*R

In [15]:
n_0_SO2 = (p_0_SO2*V_0_SO2)/(T_0_SO2*R)

n_0_NO = (p_0_NO*V_0_NO)/(T_0_NO*R)

print(n_0_SO2)
print(n_0_NO)

0.8468834688346883
0.6097560975609756

In [16]:
T_f = ( (c_V_SO2*n_0_SO2*T_0_SO2 + c_V_NO*n_0_NO*T_0_NO) / (c_V_SO2*n_0_SO2 + c_V_NO*n_0_NO) )

print(T_f)

292.49999999999994

In [17]:
V_f_NO = 288 * ( 25.0*1.0*15.00 / (2.0*10.0*300.0 + 1.0*15.0*288.0) )

V_f_SO2 = 25.0 - V_f_NO

print(V_f_SO2)
print(V_f_NO)
print(V_f_SO2 + V_f_NO)

14.534883720930232
10.465116279069768
25.0

In [18]:
p_f_NO = (n_0_NO*R*T_f) / V_f_NO 

p_f_SO2 = (n_0_SO2*R*T_f)/ V_f_SO2

print(p_f_SO2)
print(p_f_NO)

1.3974999999999997
1.3974999999999997

In [19]:
DS_SO2 = c_V_SO2*n_0_SO2*np.log(T_f/T_0_SO2) + n_0_SO2*R*np.log(V_f_SO2/V_0_SO2)

DS_NO = c_V_NO*n_0_NO*np.log(T_f/T_0_NO) + n_0_NO*R*np.log(V_f_NO/V_0_NO)

print(DS_SO2)
print(DS_NO)
print(DS_SO2 + DS_NO)

0.029199930601158924
-0.02116486269960662
0.008035067901552305

In [20]:
faktorea = 4.0/5.0
gainditu = 0

In [21]:
n_50   = 5.75 
n_f_50 = n_50*faktorea

if round(n_f_50,2) >= 4.0:
    gainditu += 1
    print('n_50 =',n_50, round(n_f_50,2), 'BAI', gainditu)
else:
    print('n_50 =',n_50, round(n_f_50,2), 'EZ', gainditu)
print('*********************\n')

n_26  = 5.75 
n_f_26 = n_26*faktorea

if round(n_f_50,2) >= 4.0:
    gainditu += 1
    print('n_50 =',n_50, round(n_f_50,2), 'BAI', gainditu)
else:
    print('n_50 =',n_50, round(n_f_50,2), 'EZ', gainditu)
print('*********************\n')

n_50 = 5.75 4.6 BAI 1
*********************

n_50 = 5.75 4.6 BAI 2
*********************

In [21]:
def nota_fun(n,nota,gainditu):
    faktorea = 2.0/5.0
    n_f = nota*faktorea
    
    if round(n_f,2) >= 2.0:
        gainditu += 1
        print(n,nota, round(n_f,2), 'BAI', gainditu)
    else:
        print(n,nota, round(n_f,2), 'EZ', gainditu)
    print('*********************\n')

    return gainditu

In [10]:
etorritakoak = 0
gainditu = 0

In [11]:
gainditu = notak(50,5.75,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

50 5.75 2.3 BAI 1
*********************

1 1 100.0

In [12]:
gainditu = notak(26,6.75,gainditu)

etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

26 6.75 2.7 BAI 2
*********************

2 2 100.0

In [13]:
gainditu = notak(58,6.85,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

58 6.85 2.74 BAI 3
*********************

3 3 100.0

In [14]:
gainditu = notak(14,1.25,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

14 1.25 0.5 EZ 3
*********************

4 3 75.0

In [15]:
gainditu = notak(20,4.75,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

20 4.75 1.9 EZ 3
*********************

5 3 60.0

In [16]:
gainditu = notak(10,1.00,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

10 1.0 0.4 EZ 3
*********************

6 3 50.0

In [17]:
gainditu = notak(45,3.25,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

45 3.25 1.3 EZ 3
*********************

7 3 43.0

In [18]:
gainditu = notak(52,2.50,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

52 2.5 1.0 EZ 3
*********************

8 3 38.0

In [19]:
gainditu = notak(60,3.00,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

60 3.0 1.2 EZ 3
*********************

9 3 33.0

In [20]:
gainditu = notak(54,2.00,gainditu)
etorritakoak += 1

print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0)

54 2.0 0.8 EZ 3
*********************

10 3 30.0

In [10]:
def nota_fun(n,nota,gainditu):
    faktorea = 2.0/5.0
    n_f = nota*faktorea
    
    if round(n_f,2) >= 2.0:
        gainditu += 1.0
        #print(n,nota, round(n_f,2), 'BAI', gainditu)
    else:
        pass
        #print(n,nota, round(n_f,2), 'EZ', gainditu)
    
    #print('*********************\n')

    return round(n_f,2), gainditu

In [11]:
def nota_kal(n,nota):
    faktorea = 2.0/5.0
    n_f = nota*faktorea
    
    return n_f

In [22]:
etorritakoak_zenbaki = [50,26,58,14,20,10,45,52,60,54,56,31,36,19,8,18,21,59,1,2,42,
                       37,39,34,13,49,57,24,6,44,32,7,51,28,29,55,41,56,
                        4,30,
                        35,3,16,
                        5,40,47,43,11,38,12,23,]
notak = [5.75,6.75,6.85,1.25,4.74,1.00,3.25,2.50,3.50,2.00,0.75,5.25,2.50,5.00,7.00,9.75,3.00,5.25,8.25,3.00,
         1.25,5.75,5.50,6.25,4.25,6.00,6.25,1.50,3.50,3.50,3.75,7.00,7.00,5.00,4.25,4.00,2.00,
         8.00,4.50,
         8.25,8.25,7.50,
         7.25,8.75,5.25,8.00,6.50,4.25,6.00,5.00,]
notak_f = []
gainditu = 0.0
etorritakoak = len(etorritakoak_zenbaki)

for i,j in zip(etorritakoak_zenbaki,notak):
    nota_f, gainditu = nota_fun(i,j,gainditu)
    notak_f.append(nota_f)
    
    #print(etorritakoak, gainditu, round(gainditu/etorritakoak,2)*100.0,2*'\n'+'%%%%%%%%%%%%\n\n')
    
print('etorritakoak =',etorritakoak,'\ngainditu kopurua = ', gainditu,'\nporzentajea = ', round((gainditu/etorritakoak)*100.0,3),'\n\n%%%%%%%%%%%%\n')

ikasle = etorritakoak_zenbaki[-1]
ikasle_nota = notak[-1]
print(ikasle_nota,' -> ' ,round(nota_kal(ikasle,ikasle_nota),3))
print('\n%%%%%%%%%%%%\n',round(np.mean(notak),2), round(np.mean(notak_f),2),'\n$$$$$$$$$$$$\n')
notak_f

etorritakoak = 51
gainditu kopurua =  28.0
porzentajea =  54.902

%%%%%%%%%%%%

5.0  ->  2.0

%%%%%%%%%%%%
 5.03 2.01
$$$$$$$$$$$$

[2.3,
 2.7,
 2.74,
 0.5,
 1.9,
 0.4,
 1.3,
 1.0,
 1.4,
 0.8,
 0.3,
 2.1,
 1.0,
 2.0,
 2.8,
 3.9,
 1.2,
 2.1,
 3.3,
 1.2,
 0.5,
 2.3,
 2.2,
 2.5,
 1.7,
 2.4,
 2.5,
 0.6,
 1.4,
 1.4,
 1.5,
 2.8,
 2.8,
 2.0,
 1.7,
 1.6,
 0.8,
 3.2,
 1.8,
 3.3,
 3.3,
 3.0,
 2.9,
 3.5,
 2.1,
 3.2,
 2.6,
 1.7,
 2.4,
 2.0]

In [ ]:
01,73049129W,FIE,01,gomez,beldarrain,josu,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;jgomez130@ikasle.ehu.eus,m,1
02,79242232X,FIE,02,vivas,merino,jon,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;jvivas001@ikasle.ehu.eus,m,1
03,73043397C,IE,01,alcorta,lopetegui,manex,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;malcorta014@ikasle.ehu.eus,m,1
04,16105298P,IE,02,camiruaga,yanguas,iker,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;icamiruaga007@ikasle.ehu.eus,m,1
05,58012653Y,IE,03,ortiz_de_mendibil,jausoro,asier,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;aortizdemendib004@ikasle.ehu.eus,m,1
06,79125123V,IE,04,sanz,zubizarreta,ibai,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;isanz048@ikasle.ehu.eus,m,1
07,72607243S,IE,05,uranga,granados,iker,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;iuranga020@ikasle.ehu.eus,m,1
08,73217117K,F,01,aizpuru,sulis,jon,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;jaizpuru012@ikasle.ehu.eus,m,1
09,20232393Y,F,02,aketxe,martinez,oier,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;oaketxe001@ikasle.ehu.eus,m,1
10,58030681W,F,03,anda,delika,unai,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;uanda002@ikasle.ehu.eus,m,1
11,73137892P,F,04,ballarena,tellechea,mikel,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;mballarena001@ikasle.ehu.eus,m,1
12,72856706C,F,05,benitez,malvar,alexander_manuel,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;abenitez011@ikasle.ehu.eus,m,1
13,73058273S,F,06,bergara,borrero,asier,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;avergara017@ikasle.ehu.eus,m,1
14,45893980X,F,07,calvo,aurrekoetxea,olatz,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;ocalvo006@ikasle.ehu.eus,n,1
15,49582252W,F,08,casares,michelena,jon,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;jcasares001@ikasle.ehu.eus,m,1
16,79187856Y,F,09,castresana,zorroza,antton,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;acastresana008@ikasle.ehu.eus,m,1
17,45175718S,F,10,costa,valencia,alex,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;acosta008@ikasle.ehu.eus,m,1
18,72542668R,F,11,de_miguel,salaberria,aitor,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;ademiguel016@ikasle.ehu.eus,m,1
19,16098865S,F,12,dorado,cerrato,christian,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;cdorado001@ikasle.ehu.eus,m,1
20,72607102N,F,13,echeverria,ibarbia,aitor,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;aecheverria042@ikasle.ehu.eus,m,1
21,78956052L,F,14,elizaran,mendarte,amaia,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;aelizaran005@ikasle.ehu.eus,n,1
22,44157282L,F,15,epelde,martija,inigo,1,0;0;0;0;0;0;0;0;0;0;0;0;0;0;iepelde004@ikasle.ehu.eus,m,1
23,72526987Y,F,16,fernandez,sanchez,iker,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;ifernandez329@ikasle.ehu.eus,m,1
24,72554877C,F,17,fernandez,tena,inaki,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;ifernandez340@ikasle.ehu.eus,m,1
25,79131914T,F,18,folio,gallaga,yerai,1,0;0;0;0;0;0;0;0;0;0;0;0;0;0;yfolio001@ikasle.ehu.eus,m,1
26,73058179J,F,19,fuentetaja,leza,martin,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;mfuentetaja002@ikasle.ehu.eus,m,1
27,73034131T,F,20,gajate,mendizabal,joritz,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;jgajate001@ikasle.ehu.eus,m,1
28,16093891D,F,21,garcia_de_iturrospe,lizaso,joane,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;jgarciadeiturr002@ikasle.ehu.eus,n,1
29,72754135Y,F,22,garcia,guerrero,david,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;dgarcia152@ikasle.ehu.eus,m,1
30,58032321D,F,23,garcia,ruiz,leire,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;lgarcia221@ikasle.ehu.eus,n,1
31,79067337F,F,24,goirigolzarri,garcia,ander,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;agoirigolzarri003@ikasle.ehu.eus,m,1
32,72857240W,F,25,gonzalez,conde,ander,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;agonzalez445@ikasle.ehu.eus,m,1
33,16103226Y,F,26,gonzalez,palacios,sue,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;sgonzalez161@ikasle.ehu.eus,n,1
34,72406207E,F,27,guerrero,calzas,iciar,2,0;0;0;0;0;0;0;0;0;0;0;0;0;0;iguerrero011@ikasle.ehu.eus,n,1
35,72230455J,F,28,iniguez,garcia,eneko,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;einiguez001@ikasle.ehu.eus,m,1
36,72839779K,F,29,irazusta,mugica,manex,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;mirazusta006@ikasle.ehu.eus,m,1
37,79048902H,F,30,jauregi,aberasturi,urtzi,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;ujauregi002@ikasle.ehu.eus,m,1
38,49575024L,F,31,lacunza,castilla,inaki,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;ilacunza008@ikasle.ehu.eusm,m,1
39,73038874M,F,32,larranaga,jaio,aitor,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;alarranaga066@ikasle.ehu.eus,m,1
40,20895415F,F,33,larrarte,mayoz,maite,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;mlarrarte001@ikasle.ehu.eus,n,1
41,72599873M,F,34,legorburu,newhouse,karla,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;klegorburu001@ikasle.ehu.eus,n,1
42,16098019C,F,35,losada,dapena,inigo,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;ilosada007@ikasle.ehu.eus,m,1
43,72846790V,F,36,mongelos,martinez,asier,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;amongelos003@ikasle.ehu.eus,m,1
44,79172606M,F,37,muniozguren,arostegi,bittor,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;bmuniozguren002@ikasle.ehu.eus,m,1
45,72605942W,F,38,nazabal,munoa,urtzi,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;unazabal002@ikasle.ehu.eus,m,1
46,45950606X,F,39,ortuzar,andres,asier,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;aortuzar006@ikasle.ehu.eus,m,1
47,73508449N,F,40,parra,luri,daniel,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;dparra007@ikasle.ehu.eus,m,1
48,71757668Z,F,41,redondo,prieto,aitor,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;aredondo024@ikasle.ehu.eus,m,1
49,45893212R,F,42,rodriguez,pena,daniel,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;drodriguez061@ikasle.ehu.eus,m,1
50,72605063C,F,43,saez,murguiondo,oihane,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;osaez004@ikasle.ehu.eus,n,1
51,16102559Y,F,44,salan,gutierrez,nahia,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;nsalan001@ikasle.ehu.eus,n,1
52,79176954Y,F,45,salcedo,mestraitua,garazi,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;gsalcedo002@ikasle.ehu.eus,n,1
53,79225571R,F,46,santa_maria_amurrio,fernandez,jon,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;jsantamariaamu001@ikasle.ehu.eus,m,1
54,45822937Z,F,47,soler,juan,jon,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;jsoler007@ikasle.ehu.eus,m,1
55,72516824D,F,48,untzilla,aseginolatza,uxue,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;uuntzilla001@ikasle.ehu.eus,n,1
56,79144173T,F,49,uriarte,amiano,unai,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;uuriarte007@ikasle.ehu.eus,m,1
57,58013620F,F,50,uribeetxebarria,madinabeitia,jokin,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;juribeetxebarr001@ikasle.ehu.eus,m,1
58,72546793D,F,51,varela,etxeberria,ane,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;avarela019@ikasle.ehu.eus,n,1
59,44349836V,F,52,zabala,alcorta,aiora,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;azabala093@ikasle.ehu.eus,n,1
60,72526971J,F,53,zabala,balerdi,mikel,0,0;0;0;0;0;0;0;0;0;0;0;0;0;0;mzabala046@ikasle.ehu.eus,m,1

In [27]:
datos_noelia = pd.read_csv('./noelia.csv', index_col=False, delimiter=',')

In [28]:
datos_noelia.head(50)

,T[K],T[C],HF[W/g],Cp[J/(gK)],Cp[J/(mo K)],lit-Cp[J/(molK),lit_Cp_(J/mol_K_DIVI,DIVI_B OTRO_SET,H
0,223.00,-50.00,-0.2275,1.368,142.47,NaN,NaN,NaN,0.0000
1,223.02,-49.98,-0.2275,1.368,142.47,NaN,NaN,NaN,2.8501
2,223.04,-49.96,-0.2275,1.368,142.47,NaN,NaN,NaN,5.7002
3,223.05,-49.95,-0.2275,1.368,142.47,NaN,NaN,NaN,7.1242
4,223.07,-49.93,-0.2275,1.368,142.47,NaN,NaN,NaN,9.9743
5,223.09,-49.91,-0.2275,1.368,142.47,NaN,NaN,NaN,12.8220
6,223.10,-49.90,-0.2275,1.368,142.47,NaN,NaN,NaN,14.2480
7,223.12,-49.88,-0.2276,1.369,142.58,NaN,NaN,NaN,17.0970
8,223.14,-49.86,-0.2276,1.369,142.58,NaN,NaN,NaN,19.9490
9,223.15,-49.85,-0.2276,1.369,142.58,NaN,132.06,130.08,21.3740
10,223.17,-49.83,-0.2276,1.369,142.58,NaN,NaN,NaN,24.2270
11,223.19,-49.81,-0.2276,1.369,142.58,NaN,NaN,NaN,27.0790
12,223.20,-49.80,-0.2276,1.369,142.58,NaN,NaN,NaN,28.5040
13,223.22,-49.78,-0.2276,1.369,142.58,NaN,NaN,NaN,31.3560
14,223.24,-49.76,-0.2276,1.370,142.68,NaN,NaN,NaN,34.2090
15,223.25,-49.75,-0.2276,1.370,142.68,NaN,NaN,NaN,35.6350
16,223.27,-49.73,-0.2277,1.370,142.68,NaN,NaN,NaN,38.4900
17,223.29,-49.71,-0.2277,1.370,142.68,NaN,NaN,NaN,41.3440
18,223.30,-49.70,-0.2277,1.370,142.68,NaN,NaN,NaN,42.7700
19,223.32,-49.68,-0.2277,1.370,142.68,NaN,NaN,NaN,45.6240
20,223.34,-49.66,-0.2277,1.370,142.68,NaN,NaN,NaN,48.4760
21,223.35,-49.65,-0.2277,1.370,142.68,NaN,NaN,NaN,49.9040
22,223.37,-49.63,-0.2277,1.370,142.68,NaN,NaN,NaN,52.7570
23,223.39,-49.61,-0.2277,1.370,142.68,NaN,NaN,NaN,55.6110
24,223.40,-49.60,-0.2277,1.370,142.68,NaN,NaN,NaN,57.0370
25,223.42,-49.58,-0.2278,1.370,142.68,NaN,NaN,NaN,59.8910
26,223.44,-49.56,-0.2278,1.370,142.68,NaN,NaN,NaN,62.7450
27,223.45,-49.55,-0.2278,1.370,142.68,NaN,NaN,NaN,64.1710
28,223.47,-49.53,-0.2278,1.370,142.68,NaN,NaN,NaN,67.0260
29,223.49,-49.51,-0.2278,1.370,142.68,NaN,NaN,NaN,69.8800
30,223.50,-49.50,-0.2278,1.370,142.68,NaN,NaN,NaN,71.3060
31,223.52,-49.48,-0.2278,1.370,142.68,NaN,NaN,NaN,74.1600
32,223.54,-49.46,-0.2278,1.370,142.68,NaN,NaN,NaN,77.0140
33,223.55,-49.45,-0.2278,1.370,142.68,NaN,NaN,NaN,78.4410
34,223.57,-49.43,-0.2279,1.371,142.79,NaN,NaN,NaN,81.2960
35,223.59,-49.41,-0.2279,1.371,142.79,NaN,NaN,NaN,84.1500
36,223.60,-49.40,-0.2279,1.371,142.79,NaN,NaN,NaN,85.5790
37,223.62,-49.38,-0.2279,1.371,142.79,NaN,NaN,NaN,88.4330
38,223.64,-49.36,-0.2279,1.371,142.79,NaN,NaN,NaN,91.2900
39,223.65,-49.35,-0.2279,1.371,142.79,NaN,NaN,NaN,92.7170
40,223.67,-49.33,-0.2279,1.371,142.79,NaN,NaN,NaN,95.5730
41,223.69,-49.31,-0.2279,1.371,142.79,NaN,NaN,NaN,98.4300
42,223.70,-49.30,-0.2279,1.371,142.79,NaN,NaN,NaN,99.8570
43,223.72,-49.28,-0.2280,1.371,142.79,NaN,NaN,NaN,102.7100
44,223.74,-49.26,-0.2280,1.371,142.79,NaN,NaN,NaN,105.5700
45,223.75,-49.25,-0.2280,1.371,142.79,NaN,NaN,NaN,107.0000
46,223.77,-49.23,-0.2280,1.371,142.79,NaN,NaN,NaN,109.8500
47,223.78,-49.22,-0.2280,1.372,142.89,NaN,NaN,NaN,111.2800
48,223.80,-49.20,-0.2280,1.372,142.89,NaN,NaN,NaN,114.1400
49,223.82,-49.18,-0.2280,1.372,142.89,NaN,NaN,NaN,117.0000